# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.vscode/

# Python version managers
.python-version

# data directories
data

# validation reports
reports/*.pdf

# json results file
results.json


